<a href="https://colab.research.google.com/github/amonishkumar05/Cross-Market-Analysis/blob/main/crossmarket_analysis(r).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install requests pandas yfinance

Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: yfinance in /usr/local/lib/python3.12/dist-packages (0.2.66)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2026.1.4)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.12/dist-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.12/dist-packages (from yfinance) (2.4.7)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.12/dist-packages (from yfinance) (3.19.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.12/dist-packages (from yfinance) (4.13.5)
Requirement already satisfied: curl_cffi>=0.7 in /usr/local/lib/python3.12/dist-packages (from yfinance) (0.14.0)
Requirement already satisfied: protobuf>=3.19.0 in /usr/local/lib/python3.12/dist-packages (from yfinance) (5.29.6)
Requirement already satisfied: websockets>=13.0 in /usr/local/lib/python3.12/dist-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.8.3)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (4.15.0)
Requirement already satisfied: cffi>=1.12.0 in /usr/local/lib/python3.12/dist-packages (from curl_cffi>=0.7->yfinance) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (3.0)

In [2]:
import requests
import pandas as pd

all_data = []

for page in range(1, 3):

    url = f"https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&per_page=250&order=market_cap_desc&page={page}&sparkline=False"

    response = requests.get(url)

    data = response.json()

    all_data.extend(data)

crypto_df = pd.DataFrame(all_data)

print("Total rows:", len(crypto_df))

crypto_df.head()

Total rows: 500

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,btc,Bitcoin,https://coin-images.coingecko.com/coins/images...,65049.000000,1297883428325,1,1297883428325,3.445608e+10,68212.000000,...,1.999344e+07,2.100000e+07,126080.00,-48.40669,2025-10-06T18:57:42.558Z,67.810000,9.582943e+04,2013-07-06T00:00:00.000Z,None,2026-02-23T05:13:44.691Z
1,ethereum,eth,Ethereum,https://coin-images.coingecko.com/coins/images...,1864.710000,224759695552,2,224759695552,1.586978e+10,1981.090000,...,1.206924e+08,NaN,4946.05,-62.29890,2025-08-24T19:21:03.333Z,0.432979,4.305711e+05,2015-10-20T00:00:00.000Z,"{'times': 37.31101874363215, 'currency': 'btc'...",2026-02-23T05:13:44.730Z
2,tether,usdt,Tether,https://coin-images.coingecko.com/coins/images...,0.999738,183572756249,3,189038160792,5.435527e+10,0.999894,...,1.890912e+11,NaN,1.32,-24.44054,2018-07-24T00:00:00.000Z,0.572521,7.461782e+01,2015-03-02T00:00:00.000Z,None,2026-02-23T05:13:44.333Z
3,ripple,xrp,XRP,https://coin-images.coingecko.com/coins/images...,1.340000,81740191925,4,133940364152,2.252541e+09,1.420000,...,9.998571e+10,1.000000e+11,3.65,-63.19621,2025-07-18T03:40:53.808Z,0.002686,4.985912e+04,2014-05-22T00:00:00.000Z,None,2026-02-23T05:13:42.664Z
4,binancecoin,bnb,BNB,https://coin-images.coingecko.com/coins/images...,589.970000,80293911219,5,80293911219,9.526185e+08,624.450000,...,1.363590e+08,2.000000e+08,1369.99,-56.93622,2025-10-13T08:41:24.131Z,0.039818,1.481578e+06,2017-10-19T00:00:00.000Z,None,2026-02-23T05:13:44.519Z

In [3]:
crypto_df = crypto_df[[
    "id", "symbol", "name", "current_price",
    "market_cap", "market_cap_rank", "total_volume",
    "circulating_supply", "total_supply",
    "ath", "atl", "last_updated"
]]

crypto_df["date"] = pd.to_datetime(crypto_df["last_updated"]).dt.date
crypto_df.drop("last_updated", axis=1, inplace=True)

crypto_df.head()

,id,symbol,name,current_price,market_cap,market_cap_rank,total_volume,circulating_supply,total_supply,ath,atl,date
0,bitcoin,btc,Bitcoin,65049.000000,1297883428325,1,3.445608e+10,1.999344e+07,1.999344e+07,126080.00,67.810000,2026-02-23
1,ethereum,eth,Ethereum,1864.710000,224759695552,2,1.586978e+10,1.206924e+08,1.206924e+08,4946.05,0.432979,2026-02-23
2,tether,usdt,Tether,0.999738,183572756249,3,5.435527e+10,1.836242e+11,1.890912e+11,1.32,0.572521,2026-02-23
3,ripple,xrp,XRP,1.340000,81740191925,4,2.252541e+09,6.101858e+10,9.998571e+10,3.65,0.002686,2026-02-23
4,binancecoin,bnb,BNB,589.970000,80293911219,5,9.526185e+08,1.363590e+08,1.363590e+08,1369.99,0.039818,2026-02-23

In [4]:
top3 = crypto_df.sort_values("market_cap_rank").head(3)

top3_ids = top3["id"].tolist()

top3_ids

['bitcoin', 'ethereum', 'tether']

In [6]:
all_crypto_prices = pd.DataFrame()

for coin in top3_ids:

    url = f"https://api.coingecko.com/api/v3/coins/{coin}/market_chart?vs_currency=usd&days=365"

    response = requests.get(url)

    data = response.json()["prices"]

    temp_df = pd.DataFrame(data, columns=["timestamp", "price_usd"])

    temp_df["date"] = pd.to_datetime(temp_df["timestamp"], unit="ms").dt.date
    temp_df["coin_id"] = coin

    temp_df = temp_df[["coin_id", "date", "price_usd"]]

    all_crypto_prices = pd.concat([all_crypto_prices, temp_df])

all_crypto_prices.head()

   coin_id        date     price_usd
0  bitcoin  2025-02-24  96327.463091
1  bitcoin  2025-02-25  91396.766869
2  bitcoin  2025-02-26  88755.769336
3  bitcoin  2025-02-27  83900.114965
4  bitcoin  2025-02-28  84709.144778

In [7]:
oil_url = "https://raw.githubusercontent.com/datasets/oil-prices/main/data/wti-daily.csv"

oil_df = pd.read_csv(oil_url)

oil_df["date"] = pd.to_datetime(oil_df["Date"]).dt.date

oil_df = oil_df[["date", "Price"]]
oil_df.columns = ["date", "price_usd"]

oil_df = oil_df[oil_df["date"] >= pd.to_datetime("2020-01-01").date()]

oil_df.head()

            date  price_usd
8569  2020-01-02      61.17
8570  2020-01-03      63.00
8571  2020-01-06      63.27
8572  2020-01-07      62.70
8573  2020-01-08      59.65

In [8]:
import yfinance as yf

tickers = ["^GSPC", "^IXIC", "^NSEI"]

stock_df = pd.DataFrame()

for ticker in tickers:

    data = yf.download(ticker, start="2020-01-01", end="2025-09-30")

    data.reset_index(inplace=True)

    data["date"] = pd.to_datetime(data["Date"]).dt.date
    data["ticker"] = ticker

    temp = data[["date", "Open", "High", "Low", "Close", "Volume", "ticker"]]

    temp.columns = ["date", "open", "high", "low", "close", "volume", "ticker"]

    stock_df = pd.concat([stock_df, temp])

stock_df.head()

/tmp/ipython-input-2679789148.py:9: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, start="2020-01-01", end="2025-09-30")
[*********************100%***********************]  1 of 1 completed
/tmp/ipython-input-2679789148.py:9: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, start="2020-01-01", end="2025-09-30")
[*********************100%***********************]  1 of 1 completed
/tmp/ipython-input-2679789148.py:9: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, start="2020-01-01", end="2025-09-30")
[*********************100%***********************]  1 of 1 completed

,date,open,high,low,close,volume,ticker
0,2020-01-02,3244.669922,3258.139893,3235.530029,3257.850098,3459930000,^GSPC
1,2020-01-03,3226.360107,3246.149902,3222.340088,3234.850098,3484700000,^GSPC
2,2020-01-06,3217.550049,3246.840088,3214.639893,3246.280029,3702460000,^GSPC
3,2020-01-07,3241.860107,3244.909912,3232.429932,3237.179932,3435910000,^GSPC
4,2020-01-08,3238.590088,3267.070068,3236.669922,3253.050049,3726840000,^GSPC

In [9]:
#sqlite
import sqlite3

conn = sqlite3.connect("cross_market.db")
cursor = conn.cursor()

print("Database connected successfully")

Database connected successfully

In [10]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS cryptocurrencies (
    id VARCHAR(50) PRIMARY KEY,
    symbol VARCHAR(10),
    name VARCHAR(100),
    current_price DECIMAL(18,6),
    market_cap BIGINT,
    market_cap_rank INT,
    total_volume BIGINT,
    circulating_supply DECIMAL(20,6),
    total_supply DECIMAL(20,6),
    ath DECIMAL(18,6),
    atl DECIMAL(18,6),
    date DATE
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS crypto_prices (
    coin_id VARCHAR(50),
    date DATE,
    price_usd DECIMAL(18,6)
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS oil_prices (
    date DATE PRIMARY KEY,
    price_usd DECIMAL(18,6)
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS stock_prices (
    date DATE,
    open DECIMAL(18,6),
    high DECIMAL(18,6),
    low DECIMAL(18,6),
    close DECIMAL(18,6),
    volume BIGINT,
    ticker VARCHAR(20)
)
""")

conn.commit()

print("Tables created successfully with updated datatypes")

Tables created successfully with updated datatypes

In [11]:
for _, row in crypto_df.iterrows():
    cursor.execute("""
        INSERT INTO cryptocurrencies VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """, (
        row["id"],
        row["symbol"],
        row["name"],
        row["current_price"],
        row["market_cap"],
        row["market_cap_rank"],
        row["total_volume"],
        row["circulating_supply"],
        row["total_supply"],
        row["ath"],
        row["atl"],
        row["date"]
    ))

conn.commit()
print("Cryptocurrencies data inserted")

Cryptocurrencies data inserted

In [12]:
for _, row in all_crypto_prices.iterrows():
    cursor.execute("""
        INSERT INTO crypto_prices VALUES (?, ?, ?)
    """, (
        row["coin_id"],
        row["date"],
        row["price_usd"]
    ))

conn.commit()
print("Crypto prices inserted")

Crypto prices inserted

In [13]:
for _, row in oil_df.iterrows():
    cursor.execute("""
        INSERT INTO oil_prices VALUES (?, ?)
    """, (
        row["date"],
        row["price_usd"]
    ))

conn.commit()
print("Oil prices inserted")

Oil prices inserted

In [14]:
for _, row in stock_df.iterrows():
    cursor.execute("""
        INSERT INTO stock_prices VALUES (?, ?, ?, ?, ?, ?, ?)
    """, (row["date"],row["open"],row["high"],row["low"],row["close"],row["volume"],row["ticker"]
    ))

conn.commit()
print("Stock prices inserted")

Stock prices inserted

In [15]:
#for verify the values which we have inserted
pd.read_sql("SELECT COUNT(*) FROM cryptocurrencies", conn)

   COUNT(*)
0       500

In [16]:
#this query is for Top 3 Cryptocurrencies

query1 = """
SELECT id, name, market_cap
FROM cryptocurrencies
ORDER BY market_cap DESC
LIMIT 3
"""

result1 = pd.read_sql(query1, conn)
result1

         id      name     market_cap
0   bitcoin   Bitcoin  1297883428325
1  ethereum  Ethereum   224759695552
2    tether    Tether   183572756249

In [17]:
#this query is for circulating supply

query2 = """
SELECT id, name, circulating_supply, total_supply
FROM cryptocurrencies
WHERE circulating_supply >= 0.9 * total_supply
"""

result2 = pd.read_sql(query2, conn)
result2

                  id             name  circulating_supply  total_supply
0            bitcoin          Bitcoin        1.999344e+07  1.999344e+07
1           ethereum         Ethereum        1.206924e+08  1.206924e+08
2             tether           Tether        1.836242e+11  1.890912e+11
3        binancecoin              BNB        1.363590e+08  1.363590e+08
4           usd-coin             USDC        7.442924e+10  7.443290e+10
..               ...              ...                 ...           ...
264             ankr     Ankr Network        1.000000e+10  1.000000e+10
265  austin-capitals  Austin Capitals        9.786000e+06  9.786000e+06
266     mask-network     Mask Network        1.000000e+08  1.000000e+08
267       singularry       Singularry        9.998975e+08  9.998975e+08
268     dusk-network             DUSK        5.000000e+08  5.000000e+08

[269 rows x 4 columns]

In [18]:
#this query is for coins within 10% of ATH

query3 = """
SELECT id, name, current_price, ath
FROM cryptocurrencies
WHERE current_price >= 0.9 * ath
"""

result3 = pd.read_sql(query3, conn)
result3

,id,name,current_price,ath
0,usds,USDS,0.999580,1.057000
1,ethena-usde,Ethena USDe,0.998819,1.034000
2,usd1-wlfi,USD1,0.999349,1.025000
3,paypal-usd,PayPal USD,0.999967,1.021000
4,tether-gold,Tether Gold,5141.940000,5596.700000
...,...,...,...,...
68,midas-mtbill,Midas mTBILL,1.053000,1.053000
69,sygnum-fiusd-liquidity-fund,Sygnum FIUSD Liquidity Fund,11781.050000,11781.050000
70,resolv-rlp,Resolv Liquidity Provider Token,1.280000,1.350000
71,austin-capitals,Austin Capitals,4.250000,4.380000
72,singularry,Singularry,0.041073,0.043547

In [19]:
#this query is for Average Market Cap Rank

query4 = """
SELECT AVG(market_cap_rank) AS avg_market_cap_rank
FROM cryptocurrencies
WHERE total_volume > 1000000000
"""

result4 = pd.read_sql(query4, conn)
result4

   avg_market_cap_rank
0             6.285714

In [20]:
#this query is for Most Recently Updated Coin

query5 = """
SELECT id, name, date
FROM cryptocurrencies
ORDER BY date DESC
LIMIT 1
"""

result5 = pd.read_sql(query5, conn)
result5

        id     name        date
0  bitcoin  Bitcoin  2026-02-23

In [21]:
query6 = """
SELECT MAX(price_usd) AS highest_price
FROM crypto_prices
WHERE coin_id = 'bitcoin'
"""

result6 = pd.read_sql(query6, conn)
result6

   highest_price
0  124773.508231

In [22]:
query7 = """
SELECT AVG(price_usd) AS average_price
FROM crypto_prices
WHERE coin_id = 'ethereum'
"""

result7 = pd.read_sql(query7, conn)
result7

   average_price
0     2999.82657

In [23]:
query8 = """
SELECT date, price_usd
FROM crypto_prices
WHERE coin_id = 'bitcoin'
AND strftime('%Y-%m', date) = '2025-01'
"""

result8 = pd.read_sql(query8, conn)
result8

Empty DataFrame
Columns: [date, price_usd]
Index: []

In [24]:
#oil_price queries
#Highest Oil Price in Last 5 Years
query_oil1 = """
SELECT MAX(price_usd) AS highest_oil_price
FROM oil_prices
WHERE date >= date('now','-5 years')
"""

pd.read_sql(query_oil1, conn)

   highest_oil_price
0             123.64

In [25]:
#Average Oil Price Per Year
query_oil2 = """
SELECT strftime('%Y', date) AS year,
       AVG(price_usd) AS avg_price
FROM oil_prices
GROUP BY year
ORDER BY year
"""

pd.read_sql(query_oil2, conn)

   year  avg_price
0  2020  39.160437
1  2021  68.135100
2  2022  94.902869
3  2023  77.576532
4  2024  76.632240
5  2025  65.388105
6  2026  61.238065

In [26]:
#Oil Prices During COVID Crash (Marchâ€“April 2020)
query_oil3 = """
SELECT date, price_usd
FROM oil_prices
WHERE date BETWEEN '2020-03-01' AND '2020-04-30'
"""

pd.read_sql(query_oil3, conn)

          date  price_usd
0   2020-03-02      46.78
1   2020-03-03      47.27
2   2020-03-04      46.78
3   2020-03-05      45.90
4   2020-03-06      41.14
5   2020-03-09      31.05
6   2020-03-10      34.47
7   2020-03-11      33.13
8   2020-03-12      31.56
9   2020-03-13      31.72
10  2020-03-16      28.96
11  2020-03-17      26.96
12  2020-03-18      20.48
13  2020-03-19      25.09
14  2020-03-20      19.48
15  2020-03-23      23.33
16  2020-03-24      21.03
17  2020-03-25      20.75
18  2020-03-26      16.60
19  2020-03-27      15.48
20  2020-03-30      14.10
21  2020-03-31      20.51
22  2020-04-01      20.28
23  2020-04-02      25.18
24  2020-04-03      28.36
25  2020-04-06      26.21
26  2020-04-07      23.54
27  2020-04-08      24.97
28  2020-04-09      22.90
29  2020-04-13      22.36
30  2020-04-14      20.15
31  2020-04-15      19.96
32  2020-04-16      19.82
33  2020-04-17      18.31
34  2020-04-20     -36.98
35  2020-04-21       8.91
36  2020-04-22      13.64
37  2020-04-23      15.06
38  2020-04-24      15.99
39  2020-04-27      12.17
40  2020-04-28      12.40
41  2020-04-29      15.04
42  2020-04-30      19.23

In [27]:
#Lowest Oil Price in Last 10 Years
query_oil4 = """
SELECT MIN(price_usd) AS lowest_oil_price
FROM oil_prices
"""

pd.read_sql(query_oil4, conn)

   lowest_oil_price
0            -36.98

In [28]:
#Volatility of Oil Prices (Max-Min Per Year)
query_oil5 = """
SELECT strftime('%Y', date) AS year,
       MAX(price_usd) - MIN(price_usd) AS volatility
FROM oil_prices
GROUP BY year
ORDER BY year
"""

pd.read_sql(query_oil5, conn)

   year  volatility
0  2020      100.25
1  2021       38.17
2  2022       52.59
3  2023       27.06
4  2024       20.96
5  2025       25.29
6  2026        8.79

In [29]:
#Get All Stock Prices for Given Ticker eg: ^GSPC
query_stock1 = """
SELECT *
FROM stock_prices
WHERE ticker = '^GSPC'
LIMIT 10
"""

pd.read_sql(query_stock1, conn)

,date,open,high,low,close,volume,ticker
0,2020-01-02,3244.669922,3258.139893,3235.530029,3257.850098,3459930000,^GSPC
1,2020-01-03,3226.360107,3246.149902,3222.340088,3234.850098,3484700000,^GSPC
2,2020-01-06,3217.550049,3246.840088,3214.639893,3246.280029,3702460000,^GSPC
3,2020-01-07,3241.860107,3244.909912,3232.429932,3237.179932,3435910000,^GSPC
4,2020-01-08,3238.590088,3267.070068,3236.669922,3253.050049,3726840000,^GSPC
5,2020-01-09,3266.030029,3275.580078,3263.669922,3274.699951,3641230000,^GSPC
6,2020-01-10,3281.810059,3282.989990,3260.860107,3265.350098,3214580000,^GSPC
7,2020-01-13,3271.129883,3288.129883,3268.429932,3288.129883,3459390000,^GSPC
8,2020-01-14,3285.350098,3294.250000,3277.189941,3283.149902,3687620000,^GSPC
9,2020-01-15,3282.270020,3298.659912,3280.689941,3289.290039,3721490000,^GSPC

In [30]:
#Highest Closing Price for NASDAQ (^IXIC)
query_stock2 = """
SELECT MAX(close) AS highest_close
FROM stock_prices
WHERE ticker = '^IXIC'
"""

pd.read_sql(query_stock2, conn)

   highest_close
0   22788.980469

In [31]:
#Top 5 Days With Highest Price Difference (S&P 500)
query_stock3 = """
SELECT date, (high - low) AS price_difference
FROM stock_prices
WHERE ticker = '^GSPC'
ORDER BY price_difference DESC
LIMIT 5
"""

pd.read_sql(query_stock3, conn)

         date  price_difference
0  2025-04-09        532.909668
1  2025-04-07        411.529785
2  2025-04-08        357.050293
3  2025-04-10        237.879883
4  2025-04-04        222.240234

In [32]:
#Monthly Average Closing Price for Each Ticker
query_stock4 = """
SELECT ticker,
       strftime('%Y-%m', date) AS month,
       AVG(close) AS avg_close
FROM stock_prices
GROUP BY ticker, month
ORDER BY ticker, month
"""

pd.read_sql(query_stock4, conn)

    ticker    month     avg_close
0    ^GSPC  2020-01   3278.202858
1    ^GSPC  2020-02   3277.314183
2    ^GSPC  2020-03   2652.393632
3    ^GSPC  2020-04   2761.975226
4    ^GSPC  2020-05   2919.608484
..     ...      ...           ...
202  ^NSEI  2025-05  24676.440290
203  ^NSEI  2025-06  25003.397693
204  ^NSEI  2025-07  25164.891474
205  ^NSEI  2025-08  24698.102796
206  ^NSEI  2025-09  24958.464286

[207 rows x 3 columns]

In [33]:
#Average Trading Volume of NSEI in 2024
query_stock5 = """
SELECT AVG(volume) AS avg_volume_2024
FROM stock_prices
WHERE ticker = '^NSEI'
AND strftime('%Y', date) = '2024'
"""

pd.read_sql(query_stock5, conn)

   avg_volume_2024
0    313560.162602

In [34]:
#Join Queries

#Compare Bitcoin vs Oil Average Price in 2025
query_join1 = """
SELECT
    AVG(c.price_usd) AS avg_bitcoin_price,
    AVG(o.price_usd) AS avg_oil_price
FROM crypto_prices c
JOIN oil_prices o
ON c.date = o.date
WHERE c.coin_id = 'bitcoin'
AND strftime('%Y', c.date) = '2025'
"""

pd.read_sql(query_join1, conn)

   avg_bitcoin_price  avg_oil_price
0      102287.060169      63.981028

In [35]:
#Check if Bitcoin Moves with S&P 500 (Basic Comparison)
query_join2 = """
SELECT
    c.date,
    c.price_usd AS bitcoin_price,
    s.close AS sp500_close
FROM crypto_prices c
JOIN stock_prices s
ON c.date = s.date
WHERE c.coin_id = 'bitcoin'
AND s.ticker = '^GSPC'
ORDER BY c.date
LIMIT 20
"""

pd.read_sql(query_join2, conn)

          date  bitcoin_price  sp500_close
0   2025-02-24   96327.463091  5983.250000
1   2025-02-25   91396.766869  5955.250000
2   2025-02-26   88755.769336  5956.060059
3   2025-02-27   83900.114965  5861.569824
4   2025-02-28   84709.144778  5954.500000
5   2025-03-03   94261.532865  5849.720215
6   2025-03-04   86124.714187  5778.149902
7   2025-03-05   87310.805311  5842.629883
8   2025-03-06   90604.080985  5738.520020
9   2025-03-07   90001.400876  5770.200195
10  2025-03-10   80751.138933  5614.560059
11  2025-03-11   78783.940579  5572.069824
12  2025-03-12   82799.108029  5599.299805
13  2025-03-13   83884.245788  5521.520020
14  2025-03-14   81098.900524  5638.939941
15  2025-03-17   82610.617503  5675.120117
16  2025-03-18   84075.365597  5614.660156
17  2025-03-19   82780.030487  5675.290039
18  2025-03-20   86815.441095  5662.890137
19  2025-03-21   84270.843590  5667.560059

In [36]:
#Compare Ethereum and NASDAQ Daily Prices for 2025
query_join3 = """
SELECT
    c.date,
    c.price_usd AS ethereum_price,
    s.close AS nasdaq_close
FROM crypto_prices c
JOIN stock_prices s
ON c.date = s.date
WHERE c.coin_id = 'ethereum'
AND s.ticker = '^IXIC'
AND strftime('%Y', c.date) = '2025'
ORDER BY c.date
"""

pd.read_sql(query_join3, conn)

           date  ethereum_price  nasdaq_close
0    2025-02-24     2827.184408  19286.929688
1    2025-02-25     2503.103420  19026.390625
2    2025-02-26     2495.315452  19075.259766
3    2025-02-27     2325.853935  18544.419922
4    2025-02-28     2305.322938  18847.279297
..          ...             ...           ...
146  2025-09-23     4199.951774  22573.470703
147  2025-09-24     4166.190550  22497.859375
148  2025-09-25     4148.656828  22384.699219
149  2025-09-26     3863.063288  22484.070312
150  2025-09-29     4141.839664  22591.150391

[151 rows x 3 columns]

In [37]:
#Days When Oil Price Spiked & Bitcoin Price Change
query_join4 = """
SELECT
    o.date,
    o.price_usd AS oil_price,
    c.price_usd AS bitcoin_price
FROM oil_prices o
JOIN crypto_prices c
ON o.date = c.date
WHERE c.coin_id = 'bitcoin'
AND o.price_usd > 100
ORDER BY o.date
"""

pd.read_sql(query_join4, conn)

Empty DataFrame
Columns: [date, oil_price, bitcoin_price]
Index: []

In [38]:
#Compare Top 3 Coins vs NIFTY (^NSEI)
query_join5 = """
SELECT
    c.date,
    c.coin_id,
    c.price_usd AS crypto_price,
    s.close AS nifty_close
FROM crypto_prices c
JOIN stock_prices s
ON c.date = s.date
WHERE s.ticker = '^NSEI'
ORDER BY c.date
LIMIT 30
"""

pd.read_sql(query_join5, conn)

          date   coin_id  crypto_price   nifty_close
0   2025-02-24   bitcoin  96327.463091  22553.349609
1   2025-02-24  ethereum   2827.184408  22553.349609
2   2025-02-24    tether      0.999983  22553.349609
3   2025-02-25   bitcoin  91396.766869  22547.550781
4   2025-02-25  ethereum   2503.103420  22547.550781
5   2025-02-25    tether      0.999726  22547.550781
6   2025-02-27   bitcoin  83900.114965  22545.050781
7   2025-02-27  ethereum   2325.853935  22545.050781
8   2025-02-27    tether      0.998532  22545.050781
9   2025-02-28   bitcoin  84709.144778  22124.699219
10  2025-02-28  ethereum   2305.322938  22124.699219
11  2025-02-28    tether      0.999051  22124.699219
12  2025-03-03   bitcoin  94261.532865  22119.300781
13  2025-03-03  ethereum   2517.338239  22119.300781
14  2025-03-03    tether      1.000071  22119.300781
15  2025-03-04   bitcoin  86124.714187  22082.650391
16  2025-03-04  ethereum   2148.199533  22082.650391
17  2025-03-04    tether      0.999253  22082.650391
18  2025-03-05   bitcoin  87310.805311  22337.300781
19  2025-03-05  ethereum   2171.496944  22337.300781
20  2025-03-05    tether      0.999775  22337.300781
21  2025-03-06   bitcoin  90604.080985  22544.699219
22  2025-03-06  ethereum   2241.384115  22544.699219
23  2025-03-06    tether      0.999975  22544.699219
24  2025-03-07   bitcoin  90001.400876  22552.500000
25  2025-03-07  ethereum   2202.320736  22552.500000
26  2025-03-07    tether      1.000019  22552.500000
27  2025-03-10   bitcoin  80751.138933  22460.300781
28  2025-03-10  ethereum   2017.265460  22460.300781
29  2025-03-10    tether      0.999694  22460.300781

In [39]:
#Compare S&P 500 with Crude Oil Same Dates
query_join6 = """
SELECT
    s.date,
    s.close AS sp500_close,
    o.price_usd AS oil_price
FROM stock_prices s
JOIN oil_prices o
ON s.date = o.date
WHERE s.ticker = '^GSPC'
ORDER BY s.date
LIMIT 30
"""

pd.read_sql(query_join6, conn)

          date  sp500_close  oil_price
0   2020-01-02  3257.850098      61.17
1   2020-01-03  3234.850098      63.00
2   2020-01-06  3246.280029      63.27
3   2020-01-07  3237.179932      62.70
4   2020-01-08  3253.050049      59.65
5   2020-01-09  3274.699951      59.56
6   2020-01-10  3265.350098      59.02
7   2020-01-13  3288.129883      58.17
8   2020-01-14  3283.149902      58.34
9   2020-01-15  3289.290039      57.86
10  2020-01-16  3316.810059      58.52
11  2020-01-17  3329.620117      58.55
12  2020-01-21  3320.790039      58.25
13  2020-01-22  3321.750000      56.76
14  2020-01-23  3325.540039      55.51
15  2020-01-24  3295.469971      54.09
16  2020-01-27  3243.629883      53.09
17  2020-01-28  3276.239990      53.33
18  2020-01-29  3273.399902      53.29
19  2020-01-30  3283.659912      52.19
20  2020-01-31  3225.520020      51.58
21  2020-02-03  3248.919922      50.06
22  2020-02-04  3297.590088      49.59
23  2020-02-05  3334.689941      50.87
24  2020-02-06  3345.780029      50.94
25  2020-02-07  3327.709961      50.34
26  2020-02-10  3352.090088      49.59
27  2020-02-11  3357.750000      50.00
28  2020-02-12  3379.449951      51.13
29  2020-02-13  3373.939941      51.41

In [40]:
#Bitcoin vs Crude Oil (Same Date Comparison)
query_join7 = """
SELECT
    c.date,
    c.price_usd AS bitcoin_price,
    o.price_usd AS oil_price
FROM crypto_prices c
JOIN oil_prices o
ON c.date = o.date
WHERE c.coin_id = 'bitcoin'
ORDER BY c.date
LIMIT 30
"""

pd.read_sql(query_join7, conn)

          date  bitcoin_price  oil_price
0   2025-02-24   96327.463091      71.06
1   2025-02-25   91396.766869      69.15
2   2025-02-26   88755.769336      68.87
3   2025-02-27   83900.114965      70.62
4   2025-02-28   84709.144778      69.97
5   2025-03-03   94261.532865      68.63
6   2025-03-04   86124.714187      68.47
7   2025-03-05   87310.805311      66.58
8   2025-03-06   90604.080985      66.62
9   2025-03-07   90001.400876      67.29
10  2025-03-10   80751.138933      66.31
11  2025-03-11   78783.940579      66.52
12  2025-03-12   82799.108029      67.65
13  2025-03-13   83884.245788      66.82
14  2025-03-14   81098.900524      67.43
15  2025-03-17   82610.617503      67.84
16  2025-03-18   84075.365597      67.49
17  2025-03-19   82780.030487      67.40
18  2025-03-20   86815.441095      68.55
19  2025-03-21   84270.843590      68.52
20  2025-03-24   85787.709149      69.46
21  2025-03-25   87327.729697      69.48
22  2025-03-26   87520.583915      70.05
23  2025-03-27   86960.855549      70.30
24  2025-03-28   87227.271580      69.74
25  2025-03-31   82356.381112      71.87
26  2025-04-01   82514.093654      71.61
27  2025-04-02   85237.587605      72.12
28  2025-04-03   82526.422153      67.43
29  2025-04-04   83163.987574      62.42

In [41]:
#NASDAQ vs Ethereum Trend
query_join8 = """
SELECT
    c.date,
    c.price_usd AS ethereum_price,
    s.close AS nasdaq_close
FROM crypto_prices c
JOIN stock_prices s
ON c.date = s.date
WHERE c.coin_id = 'ethereum'
AND s.ticker = '^IXIC'
ORDER BY c.date
LIMIT 30
"""

pd.read_sql(query_join8, conn)

          date  ethereum_price  nasdaq_close
0   2025-02-24     2827.184408  19286.929688
1   2025-02-25     2503.103420  19026.390625
2   2025-02-26     2495.315452  19075.259766
3   2025-02-27     2325.853935  18544.419922
4   2025-02-28     2305.322938  18847.279297
5   2025-03-03     2517.338239  18350.189453
6   2025-03-04     2148.199533  18285.160156
7   2025-03-05     2171.496944  18552.730469
8   2025-03-06     2241.384115  18069.259766
9   2025-03-07     2202.320736  18196.220703
10  2025-03-10     2017.265460  17468.320312
11  2025-03-11     1879.123105  17436.099609
12  2025-03-12     1921.309923  17648.449219
13  2025-03-13     1910.655138  17303.009766
14  2025-03-14     1862.794937  17754.089844
15  2025-03-17     1887.764343  17808.660156
16  2025-03-18     1929.183358  17504.119141
17  2025-03-19     1932.796406  17750.789062
18  2025-03-20     2060.728601  17691.630859
19  2025-03-21     1980.831781  17784.050781
20  2025-03-24     2001.047023  18188.589844
21  2025-03-25     2077.739326  18271.859375
22  2025-03-26     2068.598435  17899.019531
23  2025-03-27     2009.883543  17804.029297
24  2025-03-28     2003.303424  17322.990234
25  2025-03-31     1805.337878  17299.289062
26  2025-04-01     1824.207137  17449.890625
27  2025-04-02     1907.167152  17601.050781
28  2025-04-03     1795.761851  16550.609375
29  2025-04-04     1818.284420  15587.790039

In [42]:
#Join Top 3 Coins with Stock Indices for 2025
query_join9 = """
SELECT
    c.date,
    c.coin_id,
    c.price_usd,
    s.ticker,
    s.close
FROM crypto_prices c
JOIN stock_prices s
ON c.date = s.date
WHERE strftime('%Y', c.date) = '2025'
ORDER BY c.date
LIMIT 50
"""

pd.read_sql(query_join9, conn)

          date   coin_id     price_usd ticker         close
0   2025-02-24   bitcoin  96327.463091  ^GSPC   5983.250000
1   2025-02-24   bitcoin  96327.463091  ^IXIC  19286.929688
2   2025-02-24   bitcoin  96327.463091  ^NSEI  22553.349609
3   2025-02-24  ethereum   2827.184408  ^GSPC   5983.250000
4   2025-02-24  ethereum   2827.184408  ^IXIC  19286.929688
5   2025-02-24  ethereum   2827.184408  ^NSEI  22553.349609
6   2025-02-24    tether      0.999983  ^GSPC   5983.250000
7   2025-02-24    tether      0.999983  ^IXIC  19286.929688
8   2025-02-24    tether      0.999983  ^NSEI  22553.349609
9   2025-02-25   bitcoin  91396.766869  ^GSPC   5955.250000
10  2025-02-25   bitcoin  91396.766869  ^IXIC  19026.390625
11  2025-02-25   bitcoin  91396.766869  ^NSEI  22547.550781
12  2025-02-25  ethereum   2503.103420  ^GSPC   5955.250000
13  2025-02-25  ethereum   2503.103420  ^IXIC  19026.390625
14  2025-02-25  ethereum   2503.103420  ^NSEI  22547.550781
15  2025-02-25    tether      0.999726  ^GSPC   5955.250000
16  2025-02-25    tether      0.999726  ^IXIC  19026.390625
17  2025-02-25    tether      0.999726  ^NSEI  22547.550781
18  2025-02-26   bitcoin  88755.769336  ^GSPC   5956.060059
19  2025-02-26   bitcoin  88755.769336  ^IXIC  19075.259766
20  2025-02-26  ethereum   2495.315452  ^GSPC   5956.060059
21  2025-02-26  ethereum   2495.315452  ^IXIC  19075.259766
22  2025-02-26    tether      0.998930  ^GSPC   5956.060059
23  2025-02-26    tether      0.998930  ^IXIC  19075.259766
24  2025-02-27   bitcoin  83900.114965  ^GSPC   5861.569824
25  2025-02-27   bitcoin  83900.114965  ^IXIC  18544.419922
26  2025-02-27   bitcoin  83900.114965  ^NSEI  22545.050781
27  2025-02-27  ethereum   2325.853935  ^GSPC   5861.569824
28  2025-02-27  ethereum   2325.853935  ^IXIC  18544.419922
29  2025-02-27  ethereum   2325.853935  ^NSEI  22545.050781
30  2025-02-27    tether      0.998532  ^GSPC   5861.569824
31  2025-02-27    tether      0.998532  ^IXIC  18544.419922
32  2025-02-27    tether      0.998532  ^NSEI  22545.050781
33  2025-02-28   bitcoin  84709.144778  ^GSPC   5954.500000
34  2025-02-28   bitcoin  84709.144778  ^IXIC  18847.279297
35  2025-02-28   bitcoin  84709.144778  ^NSEI  22124.699219
36  2025-02-28  ethereum   2305.322938  ^GSPC   5954.500000
37  2025-02-28  ethereum   2305.322938  ^IXIC  18847.279297
38  2025-02-28  ethereum   2305.322938  ^NSEI  22124.699219
39  2025-02-28    tether      0.999051  ^GSPC   5954.500000
40  2025-02-28    tether      0.999051  ^IXIC  18847.279297
41  2025-02-28    tether      0.999051  ^NSEI  22124.699219
42  2025-03-03   bitcoin  94261.532865  ^GSPC   5849.720215
43  2025-03-03   bitcoin  94261.532865  ^IXIC  18350.189453
44  2025-03-03   bitcoin  94261.532865  ^NSEI  22119.300781
45  2025-03-03  ethereum   2517.338239  ^GSPC   5849.720215
46  2025-03-03  ethereum   2517.338239  ^IXIC  18350.189453
47  2025-03-03  ethereum   2517.338239  ^NSEI  22119.300781
48  2025-03-03    tether      1.000071  ^GSPC   5849.720215
49  2025-03-03    tether      1.000071  ^IXIC  18350.189453

In [43]:
#Multi-Join: Bitcoin + Oil + S&P 500
query_join10 = """
SELECT
    c.date,
    c.price_usd AS bitcoin_price,
    o.price_usd AS oil_price,
    s.close AS sp500_close
FROM crypto_prices c
JOIN oil_prices o
ON c.date = o.date
JOIN stock_prices s
ON c.date = s.date
WHERE c.coin_id = 'bitcoin'
AND s.ticker = '^GSPC'
ORDER BY c.date
LIMIT 30
"""

pd.read_sql(query_join10, conn)

          date  bitcoin_price  oil_price  sp500_close
0   2025-02-24   96327.463091      71.06  5983.250000
1   2025-02-25   91396.766869      69.15  5955.250000
2   2025-02-26   88755.769336      68.87  5956.060059
3   2025-02-27   83900.114965      70.62  5861.569824
4   2025-02-28   84709.144778      69.97  5954.500000
5   2025-03-03   94261.532865      68.63  5849.720215
6   2025-03-04   86124.714187      68.47  5778.149902
7   2025-03-05   87310.805311      66.58  5842.629883
8   2025-03-06   90604.080985      66.62  5738.520020
9   2025-03-07   90001.400876      67.29  5770.200195
10  2025-03-10   80751.138933      66.31  5614.560059
11  2025-03-11   78783.940579      66.52  5572.069824
12  2025-03-12   82799.108029      67.65  5599.299805
13  2025-03-13   83884.245788      66.82  5521.520020
14  2025-03-14   81098.900524      67.43  5638.939941
15  2025-03-17   82610.617503      67.84  5675.120117
16  2025-03-18   84075.365597      67.49  5614.660156
17  2025-03-19   82780.030487      67.40  5675.290039
18  2025-03-20   86815.441095      68.55  5662.890137
19  2025-03-21   84270.843590      68.52  5667.560059
20  2025-03-24   85787.709149      69.46  5767.569824
21  2025-03-25   87327.729697      69.48  5776.649902
22  2025-03-26   87520.583915      70.05  5712.200195
23  2025-03-27   86960.855549      70.30  5693.310059
24  2025-03-28   87227.271580      69.74  5580.939941
25  2025-03-31   82356.381112      71.87  5611.850098
26  2025-04-01   82514.093654      71.61  5633.069824
27  2025-04-02   85237.587605      72.12  5670.970215
28  2025-04-03   82526.422153      67.43  5396.520020
29  2025-04-04   83163.987574      62.42  5074.080078

#STREAMLIT APPLICATION

In [44]:
!pip install -q streamlit
!wget https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64
!chmod +x cloudflared-linux-amd64
import subprocess
subprocess.Popen(["./cloudflared-linux-amd64", "tunnel", "--url", "http://localhost:8501"])
!nohup /content/cloudflared-linux-amd64 tunnel --url http://localhost:8501 &

   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 9.1/9.1 MB 52.7 MB/s eta 0:00:00
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 6.9/6.9 MB 77.8 MB/s eta 0:00:00
--2026-02-23 05:26:54--  https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/cloudflare/cloudflared/releases/download/2026.2.0/cloudflared-linux-amd64 [following]
--2026-02-23 05:26:54--  https://github.com/cloudflare/cloudflared/releases/download/2026.2.0/cloudflared-linux-amd64
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/106867604/f9298ca8-89c8-41fe-a51f-e24cb2059878?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-02-23T06%3A19%3A22Z&rscd=attachment%3B+filename%3Dcloudflared-linux-amd64&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-02-23T05%3A18%3A29Z&ske=2026-02-23T06%3A19%3A22Z&sks=b&skv=2018-11-09&sig=mvjC2ZLX%2FUEZBBCGMtMiXeRNLn1ToyTskMMy5zZ%2BWHE%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc3MTgyNjIxNCwibmJmIjoxNzcxODI0NDE0LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.3QA73b5uwWlyKhKpcXs2nqJnJXdkQCCUWf_7WwuaO0s&response-content-disposition=attachment%3B%20filename%3Dcloudflared-linux-amd64&response-content-type=application%2Foctet-stream [following]
--2026-02-23 05:26:54--  https://release-assets.githubusercontent.com/github-production-release-asset/106867604/f9298ca8-89c8-41fe-a51f-e24cb2059878?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-02-23T06%3A19%3A22Z&rscd=attachment%3B+filename%3Dcloudflared-linux-amd64&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-02-23T05%3A18%3A29Z&ske=2026-02-23T06%3A19%3A22Z&sks=b&skv=2018-11-09&sig=mvjC2ZLX%2FUEZBBCGMtMiXeRNLn1ToyTskMMy5zZ%2BWHE%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc3MTgyNjIxNCwibmJmIjoxNzcxODI0NDE0LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.3QA73b5uwWlyKhKpcXs2nqJnJXdkQCCUWf_7WwuaO0s&response-content-disposition=attachment%3B%20filename%3Dcloudflared-linux-amd64&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39289207 (37M) [application/octet-stream]
Saving to: â€˜cloudflared-linux-amd64â€™

cloudflared-linux-a 100%[===================>]  37.47M   185MB/s    in 0.2s

2026-02-23 05:26:55 (185 MB/s) - â€˜cloudflared-linux-amd64â€™ saved [39289207/39289207]

nohup: appending output to 'nohup.out'

In [45]:
!pip install streamlit-option-menu

Collecting streamlit-option-menu
  Downloading streamlit_option_menu-0.4.0-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: streamlit>=1.36 in /usr/local/lib/python3.12/dist-packages (from streamlit-option-menu) (1.54.0)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<7,>=4.0 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (1.9.0)
Requirement already satisfied: cachetools<7,>=5.5 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (6.2.6)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (8.3.1)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (3.1.46)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (2.0.2)
Requirement already satisfied: packaging>=20 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (26.0)
Requirement already satisfied: pandas<3,>=1.4.0 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (2.2.2)
Requirement already satisfied: pillow<13,>=7.1.0 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (11.3.0)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (0.9.1)
Requirement already satisfied: protobuf<7,>=3.20 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (5.29.6)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (2.32.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (9.1.4)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (0.10.2)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (6.5.1)
Requirement already satisfied: typing-extensions<5,>=4.10.0 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (4.15.0)
Requirement already satisfied: watchdog<7,>=2.1.5 in /usr/local/lib/python3.12/dist-packages (from streamlit>=1.36->streamlit-option-menu) (6.0.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit>=1.36->streamlit-option-menu) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.12/dist-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit>=1.36->streamlit-option-menu) (4.26.0)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.12/dist-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit>=1.36->streamlit-option-menu) (2.16.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.12/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit>=1.36->streamlit-option-menu) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas<3,>=1.4.0->streamlit>=1.36->streamlit-option-menu) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas<3,>=1.4.0->streamlit>=1.36->streamlit-option-menu) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas<3,>=1.4.0->streamlit>=1.36->streamlit-option-menu) (2025.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit>=1.36->streamlit-option-menu) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit>=1.36->streamlit-option-menu) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit>=1.36->streamlit-option-menu) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit>=1.36->streamlit-option-menu) (2026.1.4)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.12/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit>=1.36->streamlit-option-menu) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit>=1.36->streamlit-option-menu) (3.0.3)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit>=1.36->streamlit-option-menu) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit>=1.36->streamlit-option-menu) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit>=1.36->streamlit-option-menu) (0.37.0)
Requirement already satisfied: rpds-py>=0.25.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit>=1.36->streamlit-option-menu) (0.30.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit>=1.36->streamlit-option-menu) (1.17.0)
Downloading streamlit_option_menu-0.4.0-py3-none-any.whl (829 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 829.3/829.3 kB 9.5 MB/s eta 0:00:00
Installing collected packages: streamlit-option-menu
Successfully installed streamlit-option-menu-0.4.0

In [58]:
%%writefile app.py
import streamlit as st
import pandas as pd
import sqlite3
from streamlit_option_menu import option_menu

# Database connection
conn = sqlite3.connect("cross_market.db")

st.title("ðŸ’°ðŸ›¢ï¸ðŸ“ˆ Cross-Market Analysis")

with st.sidebar:
    selected = option_menu(
        "Main Menu",
        ["Home", "Filters", "Queries"],
        icons=['house', 'gear', 'search'],
        menu_icon="cast",
        default_index=0
    )
# ---------------------------------------------------
# HOME PAGE
# ---------------------------------------------------
if selected == "Home":

    st.header("ðŸ“Š Cross-Market Financial Analysis Dashboard")

    st.markdown("""
    ### ðŸ“Œ Project Objective
    This project analyzes the relationship between:
    - Cryptocurrency Market (Bitcoin & Ethereum)
    - Crude Oil Prices
    - Stock Market Indices (S&P 500, NASDAQ, NIFTY)

    The goal is to understand cross-market movements and trends using SQL-based analysis.
    """)

    st.divider()

    st.subheader("ðŸ“‚ Data Sources Used")

    col1, col2, col3 = st.columns(3)

    with col1:
        st.info("Crypto Data\n\nâ€¢ Bitcoin\nâ€¢ Ethereum\nâ€¢ Market Cap\nâ€¢ Volume")

    with col2:
        st.info("Oil Market\n\nâ€¢ Historical Oil Prices\nâ€¢ Yearly Trends\nâ€¢ Volatility Analysis")

    with col3:
        st.info("Stock Market\n\nâ€¢ S&P 500\nâ€¢ NASDAQ\nâ€¢ NIFTY\nâ€¢ Daily Close Prices")

    st.divider()

    st.subheader("ðŸ› ï¸ Technologies Used")

    st.write("""
    - Python
    - Pandas
    - SQLite (Relational Database)
    - SQL Queries
    - Streamlit Dashboard
    """)

    st.success("Use the sidebar to explore Filters and SQL Queries.")

# ---------------------------------------------------
# FILTERS PAGE
# ---------------------------------------------------
if selected == "Filters":

    st.header("Market Filters")

    start_date = st.date_input("Start Date")
    end_date = st.date_input("End Date")

    if start_date and end_date:
      query = f"""
      SELECT c.date,
      c.price_usd AS bitcoin_price,o.price_usd AS oil_price,
      s.close AS sp500_close
      FROM crypto_prices c
      LEFT JOIN oil_prices o ON c.date = o.date
      LEFT JOIN stock_prices s
      ON c.date = s.date
      AND s.ticker = '^GSPC'
      WHERE c.coin_id = 'bitcoin'
      AND c.date BETWEEN '{start_date}' AND '{end_date}'
      ORDER BY c.date
      """

df = pd.read_sql(query, conn)
st.subheader("Filtered Market Data")
st.dataframe(df)
st.line_chart(df.set_index("date"))

# ---------------------------------------------------
# QUERIES PAGE
# ---------------------------------------------------
if selected == "Queries":

    st.header("SQL Queries")

    option = st.selectbox(
        "Select a Query",
        (
            # Cryptocurrencies
            "Top 3 Cryptocurrencies by Market Cap",
            "Coins With Circulating Supply > 90%",
            "Coins Within 10% of ATH",
            "Average Market Cap Rank (Volume > 1B)",
            "Most Recently Updated Coin",

            # Crypto Prices
            "Highest Bitcoin Price",
            "Average Ethereum Price",
            "Bitcoin January Trend",

            # Oil Queries
            "Highest Oil Price",
            "Average Oil Price Per Year",
            "Lowest Oil Price",

            # Stock Queries
            "Highest S&P 500 Close",
            "Top 5 Highest Price Difference Days",
            "Monthly Average Close (All Stocks)",

            # Join Queries
            "Bitcoin vs Oil Comparison",
            "Bitcoin vs S&P 500",
            "Ethereum vs NASDAQ"
        )
    )

    # -------------------------------
    # CRYPTOCURRENCIES
    # -------------------------------

    if option == "Top 3 Cryptocurrencies by Market Cap":
        df = pd.read_sql("""
            SELECT id, name, market_cap
            FROM cryptocurrencies
            ORDER BY market_cap DESC
            LIMIT 3
        """, conn)

    elif option == "Coins With Circulating Supply > 90%":
        df = pd.read_sql("""
            SELECT id, name, circulating_supply, total_supply
            FROM cryptocurrencies
            WHERE circulating_supply >= 0.9 * total_supply
        """, conn)

    elif option == "Coins Within 10% of ATH":
        df = pd.read_sql("""
            SELECT id, name, current_price, ath
            FROM cryptocurrencies
            WHERE current_price >= 0.9 * ath
        """, conn)

    elif option == "Average Market Cap Rank (Volume > 1B)":
        df = pd.read_sql("""
            SELECT AVG(market_cap_rank) AS avg_rank
            FROM cryptocurrencies
            WHERE total_volume > 1000000000
        """, conn)

    elif option == "Most Recently Updated Coin":
        df = pd.read_sql("""
            SELECT id, name, date
            FROM cryptocurrencies
            ORDER BY date DESC
            LIMIT 1
        """, conn)

    # -------------------------------
    # CRYPTO PRICES
    # -------------------------------

    elif option == "Highest Bitcoin Price":
        df = pd.read_sql("""
            SELECT MAX(price_usd) AS highest_price
            FROM crypto_prices
            WHERE coin_id = 'bitcoin'
        """, conn)

    elif option == "Average Ethereum Price":
        df = pd.read_sql("""
            SELECT AVG(price_usd) AS avg_price
            FROM crypto_prices
            WHERE coin_id = 'ethereum'
        """, conn)

    elif option == "Bitcoin January Trend":
        df = pd.read_sql("""
            SELECT date, price_usd
            FROM crypto_prices
            WHERE coin_id = 'bitcoin'
            AND strftime('%m', date) = '01'
        """, conn)

    # -------------------------------
    # OIL
    # -------------------------------

    elif option == "Highest Oil Price":
        df = pd.read_sql("""
            SELECT MAX(price_usd) AS highest_price
            FROM oil_prices
        """, conn)

    elif option == "Average Oil Price Per Year":
        df = pd.read_sql("""
            SELECT strftime('%Y', date) AS year,
                   AVG(price_usd) AS avg_price
            FROM oil_prices
            GROUP BY year
            ORDER BY year
        """, conn)

    elif option == "Lowest Oil Price":
        df = pd.read_sql("""
            SELECT MIN(price_usd) AS lowest_price
            FROM oil_prices
        """, conn)

    # -------------------------------
    # STOCK
    # -------------------------------

    elif option == "Highest S&P 500 Close":
        df = pd.read_sql("""
            SELECT MAX(close) AS highest_close
            FROM stock_prices
            WHERE ticker = '^GSPC'
        """, conn)

    elif option == "Top 5 Highest Price Difference Days":
        df = pd.read_sql("""
            SELECT date, (high - low) AS difference
            FROM stock_prices
            WHERE ticker = '^GSPC'
            ORDER BY difference DESC
            LIMIT 5
        """, conn)

    elif option == "Monthly Average Close (All Stocks)":
        df = pd.read_sql("""
            SELECT ticker,
                   strftime('%Y-%m', date) AS month,
                   AVG(close) AS avg_close
            FROM stock_prices
            GROUP BY ticker, month
            ORDER BY ticker, month
        """, conn)

    # -------------------------------
    # JOIN QUERIES
    # -------------------------------

    elif option == "Bitcoin vs Oil Comparison":
        df = pd.read_sql("""
            SELECT c.date,
                   c.price_usd AS bitcoin_price,
                   o.price_usd AS oil_price
            FROM crypto_prices c
            JOIN oil_prices o ON c.date = o.date
            WHERE c.coin_id = 'bitcoin'
            LIMIT 30
        """, conn)

    elif option == "Bitcoin vs S&P 500":
        df = pd.read_sql("""
            SELECT c.date,
                   c.price_usd AS bitcoin_price,
                   s.close AS sp500_close
            FROM crypto_prices c
            JOIN stock_prices s ON c.date = s.date
            WHERE c.coin_id = 'bitcoin'
            AND s.ticker = '^GSPC'
            LIMIT 30
        """, conn)

    elif option == "Ethereum vs NASDAQ":
        df = pd.read_sql("""
            SELECT c.date,
                   c.price_usd AS eth_price,
                   s.close AS nasdaq_close
            FROM crypto_prices c
            JOIN stock_prices s ON c.date = s.date
            WHERE c.coin_id = 'ethereum'
            AND s.ticker = '^IXIC'
            LIMIT 30
        """, conn)

    st.dataframe(df)

Overwriting app.py

In [59]:
!streamlit run /content/app.py &>/content/logs.txt &

In [60]:
!grep -o 'https://.*\.trycloudflare.com' nohup.out | head -n 1 | xargs -I {} echo "Your tunnel url {}"

Your tunnel url https://tried-civic-mortgage-contracting.trycloudflare.com

In [49]:
!ls

app.py			 cross_market.db  nohup.out
cloudflared-linux-amd64  logs.txt	  sample_data